{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Simple Notes</title>
        <link rel="stylesheet" href="/static/css/new.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <header>
            <h1><a class="no-style" href="/">Simple Notes</a></h1>
            <em>write notes and stuff</em>
        </header>
{{end}}
